@import '../../../node_modules/bootstrap/scss/bootstrap.scss';

$color-red: #EF3E42;
$color-blue: #332982;
$color-gray: #777;

$font-family-primary: 'Open Sans', sans-serif;
$font-family-secondary: 'Open Sans Condensed', sans-serif;

$font-size-h1: 60px;
$font-family-h1: $font-family-primary;
$font-weight-h1: 300;

$font-size-h2: 20px;
$font-family-h2: $font-family-secondary;
$font-weight-h2: bold;

* {
    font-family: $font-family-secondary;
}

#logo-link {
    padding-left: .5vw;
    font-stretch: condensed;
    color: white;
    font-size: 2rem;
}

//-----------------------------------HEADER----------------------------------

.nav-link {
    color: white;
    padding-top: 1.2rem;
    font-weight: bolder;
    font-stretch: condensed;
    font-family: $font-size-h1;
}

#header {
    background-color: $color-red;
    color: white;
    padding-left: 10%;
    padding-right: 7%;
    padding-top: 1%;
    padding-bottom: 1%;
    margin: 0;  
}

#header-menu {
    width: 100%;
    font-size: 1rem;
    padding: 0;
}

@media (max-width: 1210px) {
    #header-menu.nav {
        flex-direction: column;
    }
}

//-----------------------------------ADOPT NOW----------------------------------

#adopt-now-section {
    position: relative;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
}

#adopt-img {
    height: 30rem;
    width: 100%;
    object-fit: cover;
    object-position: 33%;
}

#adopt-now-btn {
    border: solid .1rem white;
    border-radius: 0;
    color: white;
    width: 50%;
    text-align: left;
    font-weight: bold;
}

#adopt-now-content {
    color: white;
    font-stretch: extra-condensed;
    font-weight: lighter;
    padding: 0;
}

#adopt-now-stripe {
    background-color: rgba(0,0,0,.4);
    padding-left: 10%;
    padding-right: 7%;
    padding-top: .5rem;
    padding-bottom: 1rem;
}

@media (min-width: 760px){
    #adopt-now-btn {
        width: 20%;
    }
}

@media (min-width: 1020px){
    #adopt-now-btn {
        width: 15%;
    }

    #adopt-img {
        height: 40rem;
        width: 100%;
        object-fit: cover;
        object-position: 20% 60%;
    }
}

#inset-body {
    padding-top: 1.5rem;
    padding-left: 10%;
    padding-right: 7%;
}

//-----------------------------------VOLUNTEER----------------------------------

#volunteers-card {
    padding: 0;
    margin-bottom: 1rem;
}

#volunteers-header {
    background-color: $color-blue;
    color: white;
    font-weight: bold;
}

#volunteer-img {
    width: 100%;
    height: auto;
}

#volunteers-text {
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    color: $color-gray;
    font-size: .95rem;
}

#join-us-btn {
    border: solid $color-blue .2rem;
    border-radius: 0;
    color: $color-blue;
    padding: .3rem;
    padding-left: 1rem;
    padding-right: 1rem;
    font-weight: bolder;
    margin-top: .5rem;
}

@media (min-width: 1210px) {
    #volunteers-text {
        padding-top: 1.5rem;
        padding-left: 1.5rem;
        padding-right: 3.5rem;
        font-size: 1rem;
    }

    #join-us-btn {
        margin-top: 1rem;
    }
}

.card-body {
    padding: 0;
}

//-----------------------------------TESTIMONIAL----------------------------------

#testimonial-card {
    padding: 0;
    padding-left: 1.5rem;
    border: none;
    margin-bottom: 1rem;
}

@media (max-width: 575px) {
    #testimonial-card {
        padding: 0;
    }
}

#testimonial-header {
    background-color: $color-red;
    color: white;
    font-weight: bold;
}

#testimonial-img {
    width: 100%;
    height: auto;
}

#testimonial-text {
    padding-top: 5rem;
    padding-left: 3rem;
    color: white;
}

//-----------------------------------TABS----------------------------------

#program-company-selection {
    padding-top: 1rem;
    padding-bottom: 4rem;
    padding-right: 0;
    padding-left: 0;
}

@media (min-width: 760px) {
    #program-company-selection {
        padding-top: 4rem;
    }
}

.nav-tabs .nav-link.active {
    color: $color-blue;
}

.nav-tabs .nav-link {
    color: $color-gray;
}

//---------------------------BEHAVIOR PROGRAM--------

#behavior-row {
    margin-bottom: 1rem;
}

#behavior-img {
    height: 12rem;
    width: 12rem;
    object-fit: cover;
    object-position: 20% 50%;
}

#behavior-program {
    color: $color-red;
    font-weight: bold;
    padding-top: 1.5rem;
    padding-bottom: 1rem;
}

#behavior-text {
    color: $color-gray;
    font-family: $font-family-h2;
    font-size: .85rem;
}

#read-more-behavior-btn {
    border: solid $color-red .2rem;
    border-radius: 0;
    color: $color-red;
    padding-top: .2rem;
    padding-bottom: .2rem;
    padding-left: 1.4rem;
    padding-right: 2rem;
    margin-top: 1rem;
}

//---------------------------FAMILY PROGRAM--------

#family-row {
    padding-bottom: 1rem;
}

#family-img {
    height: 12rem;
    width: 12rem;
    object-fit: cover;
    object-position: 20% 50%;
}

#my-next-family {
    color: $color-red;
    font-weight: bold;
    padding-top: 1.5rem;
    padding-bottom: 1rem;
}

#family-text {
    color: $color-gray;
    font-family: $font-family-h2;
    font-size: .85rem;
}

#read-more-family-btn {
    border: solid $color-red .2rem;
    border-radius: 0;
    color: $color-red;
    padding-top: .2rem;
    padding-bottom: .2rem;
    padding-left: 1.4rem;
    padding-right: 2rem;
    margin-top: 1rem;
}

//---------------------------BREWDOG COMPANY--------

#brewdog-row {
    margin-bottom: 1rem;
}

#dog-days {
    color: $color-red;
    font-weight: bold;
    padding-top: 1.5rem;
    padding-bottom: 1rem;
}

#brewdog-text {
    color: $color-gray;
    font-family: $font-family-h2;
    font-size: .85rem;
}

#read-more-brewdog-btn {
    border: solid $color-red .2rem;
    border-radius: 0;
    color: $color-red;
    padding-top: .2rem;
    padding-bottom: .2rem;
    padding-left: 1.4rem;
    padding-right: 2rem;
    margin-top: 1rem;
}

//---------------------------RESCUE BREW COMPANY--------

#rescue-brew-row {
    padding-bottom: 1rem;
}

#rescue-brew-img {
    object-fit: cover;
}

#rescue-brew-title {
    color: $color-red;
    font-weight: bold;
    padding-top: 1.5rem;
    padding-bottom: 1rem;
}

#rescue-text {
    color: $color-gray;
    font-family: $font-family-h2;
    font-size: .85rem;
}

#read-more-rescue-btn {
    border: solid $color-red .2rem;
    border-radius: 0;
    color: $color-red;
    padding-top: .2rem;
    padding-bottom: .2rem;
    padding-left: 1.4rem;
    padding-right: 2rem;
    margin-top: 1rem;
}

#adopt-me-dog {
    width: 100%;
    height: auto;
}

@media (min-width: 760px) {
    #adopt-me-dog {
        width: 100%;
        height: auto;
        padding-top: 15rem;
    }
}

@media (min-width: 1020px) {

    #adopt-me-dog {
        width: 100%;
        height: auto;
        padding-top: 10rem;
    }

}

//-----------------------------------FOOTER----------------------------------

#footer {
    border-top: solid $color-red .3rem;
    background-color: $color-blue;
    color: white;
    padding-left: 10%;
    padding-right: 7%;
    margin-top: 2rem;
}

#footer-content {
    padding: 0;
}

#footer-branding {
    padding-top: 3rem;
    padding-left: 0;
    padding-bottom: 0;
}

#footer-menu {
    padding-right: 1rem;
}

.address {
    margin: 0;
}

#credits {
    font-size: .7rem;
    margin-top: 3rem;
    padding-bottom: 3rem;
}

@media (max-width: 760px) {
    #footer-menu.nav {
        flex-direction: column;
        text-align: center;
    }
}

@media (min-width: 1020px) {

    #footer-menu {
        padding-right: 15rem;
    }

    #credits {
        margin-top: 7rem;
        padding-bottom: 5rem;
    }

}